@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$BGColor: #E1E5EE;
$secondaryColor: #2A324B;
$linkColor: #58699D;
$white: #ffffff;
$black: #000000;
$font: "Montserrat", serif;

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: $BGColor;
    font-family: $font;
    padding: 10%;
}
main{
        background-color: $white;
        h2{
            color: $secondaryColor;
        }
        article{
            padding: 4rem;
            a{
                color: $linkColor;
            }
        }
    }

#tabs{
    overflow: hidden;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0;
 button:hover{
        background-color: $linkColor;
    }  
button:active{
        background-color: $white;
        color: $black;
    }
    button{
        border: none;
        background-color: $secondaryColor;
        font-family: $font;
        font-weight: bold;
        color: $white;
        padding: 1rem 4rem;
        margin: 1rem 0 0 0;
        cursor: pointer;
    }
    
}
